/*
NEWEST
#1 = #a913db #Shade #a0145c
#2 = #C842f4 #Purple #BE136B
OLD
#1 = 35A49C
#2 = 79CDC0 #Green
*/
a {
	color: #BE136B;
}
a:hover {
	color: #a0145c;
}

/* menu */
.nav>li>a:hover {
	color: #BE136B;
}

.navbar .navbar-nav > .active > a {
	color: #BE136B;
}

/* flexslider */
.flex-control-paging li a {
	background: #a0145c;
}

.flex-direction-nav a:hover{
	background-color:#a0145c;
}

.testimonial span.author a {
	color: #BE136B;
}

/* --- icon box hover --- */
.hi-icon-effect-5 .hi-icon {
	color: #a0145c;
	box-shadow: 0 0 0 4px #a0145c;
}
.no-touch .hi-icon-effect-5 .hi-icon:hover {
	background: #a0145c;
	box-shadow: 0 0 0 8px  #BE136B;
}


/* portfolio */
.portfolio-item .portfolio-desc {
	background: #a0145c;
}

/* btn */
.btn-theme {
  background: #BE136B;
}
.btn-theme:hover,.btn-theme:focus,.btn-theme:active{
  background: #a0145c;
}
.btn-cta,.btn-cta.btn-lg {
  background: #a0145c;
  border-color: #BE136B;
}

.btn-cta:focus,.btn-cta:active{
   border-color: #a0145c;
}

/* contact */
.validation {
	color: red;
}

/* footer */
.social-circle li a {
	background:#a0145c;
}

a.scrollup{
	background:#a0145c;
}

#sendmessage {
    color: green;
}

#errormessage {
    color: red;
}
