/*
NEW
#1 = #d4237a #Shade
#2 = #e25098 #Raspberry Pink
OLD
#1 = 35A49C
#2 = 79CDC0 #Green
*/
a {
	color: #d4237a;
}
a:hover {
	color: #e25098;
}

/* menu */
.nav>li>a:hover {
	color: #e25098;
}

.navbar .navbar-nav > .active > a {
	color: #e25098;
}

/* flexslider */
.flex-control-paging li a {
	background: #d4237a;
}

.flex-direction-nav a:hover{
	background-color:#d4237a;
}

.testimonial span.author a {
	color: #e25098;
}

/* --- icon box hover --- */
.hi-icon-effect-5 .hi-icon {
	color: #d4237a;
	box-shadow: 0 0 0 4px #d4237a;
}
.no-touch .hi-icon-effect-5 .hi-icon:hover {
	background: #d4237a;
	box-shadow: 0 0 0 8px  #e25098;
}


/* portfolio */
.portfolio-item .portfolio-desc {
	background: #d4237a;
}

/* btn */
.btn-theme {
  background: #e25098;
}
.btn-theme:hover,.btn-theme:focus,.btn-theme:active{
  background: #d4237a;
}
.btn-cta,.btn-cta.btn-lg {
  background: #d4237a;
  border-color: #e25098;
}

.btn-cta:focus,.btn-cta:active{
   border-color: #d4237a;
}

/* contact */
.validation {
	color: red;
}

/* footer */
.social-circle li a {
	background:#d4237a;
}

a.scrollup{
	background:#d4237a;
}

#sendmessage {
    color: green;
}

#errormessage {
    color: red;
}
